
:root {
    --background-color: white;
    --vigo-color: #5367FF;
    --slider-color: #00D09C;
    --input-number-color: #EBEBEB;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-bottom: 0.9em;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: #222;
}

#amountLabel {
    width: 210px;
    ;
}

.sip-calculator {
    border: 5px solid white;
    -moz-box-shadow: 0px 0px 5px hsl(15, 2%, 55%);
    -webkit-box-shadow: 0px 0px 5px hsl(15, 2%, 55%);
    box-shadow: 0px 0px 10px hsl(0, 0%, 73.9%);
    padding: 3em;
    margin: 1em;
    width: 530px;
    background-color: white;
}

.sip-calculator-amount,
.sip-calculator-year,
.sip-calculator-roi {
    margin-bottom: 2.2em;
    width: 100%;
}

.amount-slider,
.year-slider,
.roi-slider {
    width: 100%;
    height: 1px;
    border-radius: 10px;
    background: var(--slider-color);
    outline: none;

}

input[type=range] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2.5px solid var(--vigo-color);
    height: 20px;
    width: 20px;
    border-radius: 40px;
    background: white;
    cursor: pointer;
    margin-top: 0px;

}

input[type=range]::-moz-range-thumb {
    border: 2.5px solid var(--vigo-color);
    height: 20px;
    width: 20px;
    border-radius: 40px;
    background: white;
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    border: 2.5px solid var(--vigo-color);
    height: 20px;
    width: 20px;
    border-radius: 40px;
    background: white;
    cursor: pointer;
}

input[type=number] {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    background: var(--input-number-color);
    border-style: none;
    height: 30px;
    margin-left: 20px;
    margin-right: 10px;
    text-align: right;
    padding-right: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    border-radius: 4px;

}

input[type=number]:focus {
    outline: none;
    border: 1px solid #3197EE;

}

.radio {
    margin: 0.5rem;
    text-align: center;
}

.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.radio input[type="radio"]+.radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -0.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.radio input[type="radio"]:checked+.radio-label:before {
    background-color: #5367FF;
    box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type="radio"]:focus+.radio-label:before {
    outline: none;
    border-color: #3197EE;
}

.radio input[type="radio"]:disabled+.radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}

.radio input[type="radio"]+.radio-label:empty:before {
    margin-right: 0;
}
.returndiv{
    margin-top: 1em;
    font-size: 1.2em; 
    background: #f1f2f3;
     border-radius: 7px;
      padding: 20px;
}
.link {
    font-size: 20px;
    text-align: center;
    margin: 17px 0px -30px 0px;
}
@media only screen and (max-width: 325px) {
    .sip-calculator {
        height: 560px;
    }

    h1 {
        font-size: 1.5em;
    }
}

@media (max-width: 576px) {
    body {
        font-size: smaller;
    }

    .sip-calculator {
        width: 100%;
        padding: 2em;
        margin: .1em;
    }
}

@media (max-width: 768px) {
    .groww-logo {
        width: 100px;
        height: 25px;
    }
}